{% extends 'layouts/authentication.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row login-page">
        <div class="login-page__left-side col-md-8 col-12">
            <div class="login-page__main-container">
                <div class="login-page__description">
                    <h1>Reset password.</h1>
                    <h4>Please enter your email below.</h4>
                </div>
                {% for message in messages %}
                    {% if message.tags == "error" %}
                    <div class="message message--error">
                        <p>{{message}}</p>                        
                    </div>       
                    {% else %}
                    <div class="message message--success">
                        <p>{{message}}</p>                      
                    </div>  
                    {% endif %}
                {% endfor %}
                <form class="login-page__login-form" action="reset" method="POST">
                    {% csrf_token %}
                    <div class="login-page__login-form--username">
                        <p>Email</p>
                        <input class="login-page__login-form--email-username--input-text" type="email" name="email" required>
                    </div>
                    <div class="login-page__login-form--button-submit--forget-password" style="gap: 20px">
                        <button class="login-page__login-form--button-submit" type="submit">
                            <p class="">Sent<i class="fas fa-arrow-right"></i></p>                                
                        </button>
                        <a href="login"><p class="bold">Back to login</p></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="login-page__right-side col-md-4 col-0">
            <h1 class="white-color">Login</h1>
            <div class="login-page__signup-box">
                <div>
                    <p class="bold">Don't have an account?</p>
                    <a class="" href="signup">
                        <button class="login-page__signup-page-link-button">
                            <p class="">Signup<i class="fas fa-arrow-right"></i></p> 
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
