{% extends 'layouts/application.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    
    <div class="contents__main-container row">
        {% for post in object_list %}
        <div class="contents__main-container__content content--original col-lg-3 col-md-6 col-sm-12">
            <a href="posts/{{post.id}}">
                <div class="content--image" style="background-image: url({{post.image.url}});">
                    <!-- <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div> -->
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">{{post.post_name}}</h5>
                        <p>by {{post.user.first_name}} {{post.user.last_name}}</p>
                    </div>
                    <div class="col-4 content--description--like-save actions">
                        <i class="fas fa-bookmark actions__save"></i>
                        <i class="fas fa-heart actions__like"></i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}