{% extends 'layouts/application.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    {% for message in messages %}
        {% if message.tags == "error" %}
        <div class="message message--error">
            <p>{{message}}</p>                        
        </div>       
        {% elif message.tags == "success" %}
        <div class="message message--success">
            <p>{{message}}</p>                      
        </div>  
        {% else %}
        <div class="message">
            <h3>{{message}}</h3>                      
        </div>  
        {% endif %}
    {% endfor %}
    <div class="contents__main-container row">
        {% if object_list %}        
        {% for post in object_list %}
        <div class="contents__main-container__content content--original col-lg-3 col-md-6 col-sm-12" style="margin-top:30px">
            <a href="posts/{{post.id}}">
                <div class="content--image" style="background-image: url({{post.image.url}});">
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row" style="margin-top: 5px">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">{{post.post_name}}</h5>
                        <a href="/profile/{{post.user.id}}"><p>by {{post.user.first_name}} {{post.user.last_name}}</p></a>
                    </div>
                    <div class="col-4 content--description--like-save actions">
                        {% if post.price %}
                        <h6 style="text-align: right;">Rs {{post.price}}</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-4" style="text-align: center;">
                    <img style="width: 280px" src="{% static 'img/Empty_states/No_posts.svg' %}" alt="">
                    <h4 class="bold m-top-15">Sorry!!</>
                    <p>There aren't posts to show you at the moment.</p>
                    <p>Please try again later.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}