{% extends 'layouts/authentication.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row login-page">
        <div class="login-page__left-side col-md-8 col-12">
            <div class="login-page__main-container">
                <div class="login-page__description">
                    <h1>Glad you're back!!</h1>
                    <h4>Let's login and start sharing your works.</h4>
                </div>
                <form class="login-page__login-form" action="login" method="POST">
                    {% csrf_token %}
                    <div class="login-page__login-form--username">
                        <p>Username</p>
                        <input class="login-page__login-form--email-username--input-text" type="text" name="username">
                    </div>
                    <div class="login-page__login-form--password">
                        <p>Password</p>
                        <input class="login-page__login-form--password--input-password" type="password" name="password" id="">
                    </div>
                    <div class="login-page__login-form--button-submit--forget-password">
                        <button class="login-page__login-form--button-submit" type="submit">
                            <p class="">Submit<i class="fas fa-arrow-right"></i></p>                                
                        </button>
                        <a class="login-page__login-form--forget-password" href="#">
                            <p class="bold">Forget password?</p>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="login-page__right-side col-md-4 col-0">
            <h1 class="white-color">Login</h1>
            <div class="login-page__signup-box">
                <div>
                    <p class="bold">Don't have an account?</p>
                    <a class="" href="signup">
                        <button class="login-page__signup-page-link-button">
                            <p class="">Signup<i class="fas fa-arrow-right"></i></p> 
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
