{% extends 'layouts/application.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        <div id="profile-page" class="row">
            <div class="col-md-3 col-sm-0 user-details__main-container">
                <div class="row">
                    <div class="col-12 main-container__profile-picture">
                        {% for i in secondary_details %}
                        <div class="profile-picture"  style="background-image: url({{i.profile_picture.url}});">

                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% for i in user_details%}
                <div class="row">
                    <div class="col-12 main-container__user-name-and-location">
                        <h4 class="bold">
                            {{i.first_name}} {{i.last_name}}
                        </h4>
                        <p>{{i.email}}</p>
                    </div>
                </div>
                {% if i == user %}
                <div class="row">
                    <div class="col-12 main-container__follow-button">
                        <a href="/profile/edit/{{user.id}}">
                            <button class="follow-button"><p>Edit profile</p></button>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <!-- <div class="row">
                    <div class="col-12 main-container__user-chitra-details">
                        <div class="row user-chitra-details--followers">
                            <div class="col-6">
                                <p class="bold">Followers</p>
                            </div>
                            <div class="col-6 followers--total-followers">
                                <p>2124 people</p>
                            </div>
                        </div>
                        <div class="row user-chitra-details--following">
                            <div class="col-6">
                                <p class="bold">Following</p>

                            </div>
                            <div class="col-6 following--total-following">
                                <p>2124 people</p>
                            </div>
                        </div>
                        <div class="row user-chitra-details--likes">
                            <div class="col-6">
                                <p class="bold">Total likes</p>
                            </div>
                            <div class="col-6 likes--total-likes">
                                <p>2124 likes</p>
                            </div>
                        </div>
                        <div class="row user-chitra-details--saves">
                            <div class="col-6">
                                <p class="bold">Total saves</p>
                            </div>
                            <div class="col-6 saves--total-saves">
                                <p>2124 saves</p>
                            </div>
                        </div>                        
                    </div>                    
                </div> -->
                <div class="row">
                    <div class="col-12 main-container__social-medias">
                        <div class="row">
                            <div class="col-12">
                                <p>Find me on:</p>
                            </div>
                        </div>   
                        <div class="row social-medias--all-links">
                            <div class="col-12">
                                {% for i in secondary_details %}
                                {% if i.facebook_link %}
                                <a href="{{i.facebook_link}}" target="_blank">
                                    <i class="social-medias--all-links__facebook fab fa-facebook-square"></i>
                                </a>
                                {% endif %}
                                {% if i.instagram_link %}
                                <a href="{{i.instagram_link}}" target="_blank">
                                    <i class="social-medias--all-links__instagram fab fa-instagram"></i>
                                </a>                                
                                {% endif %}
                                {% if i.behance_link %}
                                <a href="{{i.behance_link}}" target="_blank">
                                    <i class="social-medias--all-links__behance fab fa-behance-square"></i>
                                </a>                                
                                {% endif %}
                                {% if i.linkedin_link %}
                                <a href="{{i.linkedin_link}}" target="_blank">
                                    <i class="social-medias--all-links__linkedin fab fa-linkedin"></i>
                                </a>                                
                                {% endif %}                               
                                
                                {% endfor %}
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 user-posts__main-container">
                <div class="main-container__all-posts row">
                    {% for i in user_posts %}
                    <div class="all-posts__single-post col-md-4">
                        <a href="/posts/{{i.id}}">
                            <div class="single-post--image" style="background-image: url({{i.image.url}});">
                                <!-- <div class="image--original">
                                    <p class="white-color bold">Original</p>
                                </div> -->
                            </div>
                        </a>
                        <div class="container">
                            <div class="single-post--description row" style="margin-top: 5px">
                                <div class="col-8 description--names">
                                    <h5 class="bold">{{i.post_name}}</h5>
                                </div>
                                <div class="col-4 description--like-save">
                                    <h6 style="text-align: right">Rs {{i.price}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>
{% endblock %}