{% extends 'layouts/authentication.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row signup-page">
        <div class="signup-page__left-side col-md-8 col-sm-12">
            <div class="signup-page__main-container">
                <div class="signup-page__description">
                    <h3 class="signup-page__description--logo">Chitra</h3>
                    <h1>Welcome to Chitra.</h1>
                    <h4>Create, share, sell and grow as an artist.</h4>
                </div>
                <form class="signup-page__signup-form" action="signup" method="POST">
                    {% csrf_token %}
                    <div class="signup-page__signup-form--row--first-name--last-name row">
                        <div class="signup-page__signup-form--first-name col-md-6 col-12">
                            <p>First name</p>
                            <input type="text" name="first_name" class="signup-page__signup-form--first-name--input-text">
                        </div>
                        <div class="signup-page__signup-form--last-name col-md-6 col-12">
                            <p>Last name</p>
                            <input type="text" name="last_name" class="signup-page__signup-form--last-name--input-text">
                        </div>
                    </div>
                    <div class="signup-page__signup-form--row--email row">
                        <div class="signup-page__signup-form--email col-12">
                            <p>E-mail</p>
                            <input type="email" name="email" class="signup-page__signup-form--email--input-email">
                        </div>
                    </div>
                    <div class="signup-page__signup-form--row--password--re-enter-password row">
                        <div class="signup-page__signup-form--password col-md-6 col-12">
                            <p>Password</p>
                            <input type="password" name="password" class="signup-page__signup-form--password--input-password">
                        </div>
                        <div class="signup-page__signup-form--re-enter-password col-md-6 col-12">
                            <p>Re-enter password</p>
                            <input type="password" name="re_password" class="signup-page__signup-form--re-enter-password--input-password">
                        </div>
                    </div>
                    <div class="signup-page__signup-form--row--agree-terms row">
                        <div class="signup-page__signup-form--agree-terms col-12">
                            <input type="checkbox" class="signup-page__signup-form--agree-terms--input-checkbox" name="" id="">
                            <p>I agree the <u class="bold">Terms and Conditions</u> and agree to abide by it.</p>
                        </div>
                    </div>
                    <div class="signup-page__signup-form--row--submit row">
                        <div class="signup-page__signup-form--submit col-12">
                            <button class="signup-page__signup-form--submit--button-submit"><p>Signup<i class="fas fa-arrow-right"></i></p></button>
                        </div>                        
                    </div>
                    
                </form>
                <div class="d-flex signup-page__responsive-login-box">
                    <p>Already have an account?</p>
                    <a href="login"><p class="bold"><u>Login</u></p></a>
                </div>
            </div>
        </div>
        <div class="signup-page__right-side col-md-4 col-sm-0">
            <h1 class="white-color">Signup</h1>
            <div class="signup-page__login-box">
                <div>
                    <p class="bold">Already have an account?</p>
                    <a class="" href="login">
                        <button class="signup-page__login-page-link-button">
                            <p class="">Login<i class="fas fa-arrow-right"></i></p> 
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    
</body>
</html>