{% extends 'layouts/application.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-8 col-sm-12 upload__main-container">
            <form action="upload" class="container-fluid" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row main-container__upload-photo">
                    <div class="col-12 upload-photo__upload">
                        <input class="file" type="file" name="image" accept="image/*" onchange="previewFile(this, '.upload-photo__upload');" required/>
                        <div class="upload__text">
                            <i class="fas fa-upload upload-photo__upload--upload-icon"></i>
                            <h3 class="upload-photo__upload--main-text">Click here to upload your artwork.</h3>
                            <h6 class="upload-photo__upload--secondary-text">Image size of 3:2 ratio is recommended.</h6>
                        </div>
                    </div>
                </div>
                <div class="row main-container__title">
                    <h4 class="bold">Title</h4>
                    <input type="text" name="post_name" id="" required>
                </div>
                <div class="row main-container__description">
                    <h4 class="bold">Description</h4>
                    <textarea name="description" id="" required></textarea>
                </div>
                <div class="row main-container__price">
                    <h4 class="bold">Price</h4>
                    <input type="number" name="price">
                </div>
                <div class="d-flex justify-content-center align-items-center main-container__submit-and-cancel-btn">
                        <button type="submit" class="main-container__submit-btn"><p>Upload</p></button>
                        <a href="/">
                            <h6>Cancel</h6>
                        </a>

                </div>
            </form>
        </div>
        <div class="col-md-2 col-sm-0"></div>
    </div>
</div>
{% endblock %}