<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post page</title>
    <link rel="stylesheet" href="static/vendors/Bootstrap/bootstrap-grid.css">
    <script src="static/vendors/Jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="header" class="col-lg-12">              
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-8 col-sm-12 post__main-container">
                <div class="row main-container__post-name">
                    <div class="col-12">
                        <h2 class="post-name">Skeleton Music</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="user-description col-12">
                        <div class="user-description__profile-picture"></div>
                        <div class="user-description__user-name"><h5 >Sohail Dangol</h5></div>      
                    </div>                              
                </div>
                <div class="row">
                    <div class="post__image col-12">
                        <img class="image" src="static/img/index/art.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="post__like-comment-share__price-buy col-12">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md-3">
                                <div class="post__like-comment-share">
                                    <i class="fas fa-heart content--description--like"></i>
                                    <i class="fas fa-comment"></i>
                                    <i class="fas fa-bookmark content--description--save"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="post__price-buy">
                                    <h5 class="post__price">Rs 90,000</h5>
                                    <button class="post__buy"><p>Add to cart</p></button>
                                </div>  
                            </div>                            
                        </div>
                        
                                              
                    </div>
                </div>
                <div class="row">
                    <div class="post__caption col-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies
                            integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae 
                            ultricies leo integer malesuada. Ac odio tempor orci dapibus ultrices in.
                            Egestas diam in arcu cursus euismod. Dictum fusce ut placerat orci nulla. 
                            Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. Tempor
                            id eu nisl nunc mi ipsum faucibus. Fusce id velit ut tortor pretium. 
                            Massa ultricies mi quis hendrerit dolor magna eget. Nullam eget felis 
                            eget nunc lobortis. Faucibus ornare suspendisse sed nisi. Sagittis eu 
                            volutpat odio facilisis mauris sit amet massa. Erat velit scelerisque in
                            dictum non consectetur a erat. Amet nulla facilisi morbi tempus iaculis 
                            urna. Egestas purus viverra accumsan in nisl. Feugiat in ante metus dictum
                            at tempor commodo. Convallis tellus id interdum velit laoreet. Proin sagittis
                            nisl rhoncus mattis rhoncus urna neque viverra. Viverra aliquet eget sit
                            amet tellus cras adipiscing enim eu. Ut faucibus pulvinar elementum integer
                            nim neque volutpat ac tincidunt. Dui faucibus in ornare quam. In iaculis 
                            nunc sed augue lacus viverra
                        </p>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies
                            integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae 
                            ultricies leo integer malesuada. Ac odio tempor orci dapibus ultrices in.
                            Egestas diam in arcu cursus euismod. Dictum fusce ut placerat orci nulla. 
                            Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. Tempor
                            id eu nisl nunc mi ipsum faucibus. Fusce id velit ut tortor pretium. 
                            Massa ultricies mi quis hendrerit dolor magna eget. Nullam eget felis 
                            eget nunc lobortis. Faucibus ornare suspendisse sed nisi. Sagittis eu 
                            volutpat odio facilisis mauris sit amet massa. Erat velit scelerisque in
                            dictum non consectetur a erat. Amet nulla facilisi morbi tempus iaculis 
                            urna. Egestas purus viverra accumsan in nisl. Feugiat in ante metus dictum
                            at tempor commodo. Convallis tellus id interdum velit laoreet. Proin sagittis
                            nisl rhoncus mattis rhoncus urna neque viverra. Viverra aliquet eget sit
                            amet tellus cras adipiscing enim eu. Ut faucibus pulvinar elementum integer
                            nim neque volutpat ac tincidunt. Dui faucibus in ornare quam. In iaculis 
                            nunc sed augue lacus viverra
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 post__line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="comments col-12">
                        <h3>Comments</h3>
                    </div>            
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="comments__add-comment row">
                            <div class="col-md-1">
                            <div class="user-description__profile-picture"></div>
    
                            </div>
                            <div class="col-md-11">
                                <textarea name="" id="" class="comments__comment-description" placeholder="Write some comments over here..."></textarea>
                                <button class="comments__comment-button"><p>Comment</p></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post__all-comments row">
                    <div class="col-12">
                        <div class="post__comment row">
                            <div class="col-1">
                                <div class="user-description__profile-picture"></div>
                            </div>
                            <div class="col-11">
                                <h6 class="bold">Aakriti Maharjan</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                    tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies 
                                    integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae ultricies 
                                    leo integer malesuada. Ac odio tempor orci dapibus ultrices in. Egestas diam 
                                    in arcu cursus euismod. Dictum fusce ut placerat orci nulla. Tincidunt ornare 
                                    massa eget egestas purus viverra accumsan in nisl. Tempor id eu nisl nunc mi 
                                    ipsum faucibus. Fusce id velit ut tortor pretium. Massa ultricies mi quis 
                                    hendrerit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="post__comment row">
                            <div class="col-1">
                                <div class="user-description__profile-picture"></div>
                            </div>
                            <div class="col-11">
                                <h6 class="bold">Aakriti Maharjan</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                    tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies 
                                    integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae ultricies 
                                    leo integer malesuada. Ac odio tempor orci dapibus ultrices in. Egestas diam 
                                    in arcu cursus euismod. Dictum fusce ut placerat orci nulla. Tincidunt ornare 
                                    massa eget egestas purus viverra accumsan in nisl. Tempor id eu nisl nunc mi 
                                    ipsum faucibus. Fusce id velit ut tortor pretium. Massa ultricies mi quis 
                                    hendrerit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="post__comment row">
                            <div class="col-1">
                                <div class="user-description__profile-picture"></div>
                            </div>
                            <div class="col-11">
                                <h6 class="bold">Aakriti Maharjan</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                    tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies 
                                    integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae ultricies 
                                    leo integer malesuada. Ac odio tempor orci dapibus ultrices in. Egestas diam 
                                    in arcu cursus euismod. Dictum fusce ut placerat orci nulla. Tincidunt ornare 
                                    massa eget egestas purus viverra accumsan in nisl. Tempor id eu nisl nunc mi 
                                    ipsum faucibus. Fusce id velit ut tortor pretium. Massa ultricies mi quis 
                                    hendrerit
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-0"></div>
        </div>
    </div>

    <script src="static/js/load_components.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>