{% extends 'layouts/application.html' %}
{% load static %}
{% block body %}
{% for i in post %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-8 col-sm-12 post__main-container">
            <div class="row main-container__post-name">
                <div class="col-12">
                    <h2 class="post-name">{{i.post_name}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="user-description col-12">
                    <div class="user-description__profile-picture"></div>
                    <div class="user-description__user-name"><a href="/profile/{{i.user.id}}"><h5 >{{i.user.first_name}} {{i.user.last_name}}</h5></a></div>      
                </div>                              
            </div>
            <div class="row">
                <div class="post__image col-12">
                    <img class="image" src="{{i.image.url}}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="post__like-comment-share__price-buy col-12">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6">
                            <!-- <div class="post__like-comment-share actions">
                                <i class="fas fa-heart actions__like"></i>
                                <i class="fas fa-comment actions__comment"></i>
                                <i class="fas fa-bookmark actions__save"></i>
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <div class="post__price-buy">
                                <h5 class="post__price">Rs {{i.price}}</h5>
                                {% if user.is_authenticated %}
                                <button class="post__buy" data-id="{{i.id}}"><p>Add to cart</p></button>
                                {% else %}
                                <a href="/auth/login">
                                    <button class="post__buy"><p>Add to cart</p></button>
                                </a>
                                {% endif %}
                            </div>  
                        </div>                            
                    </div>
                    
                                          
                </div>
            </div>
            <div class="row">
                <div class="post__caption col-12">
                    <p>
                        {{i.description}}
                    </p>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12 post__line">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="comments col-12">
                    <h3>Comments</h3>
                </div>            
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="comments__add-comment row">
                        <div class="col-md-1">
                            <div class="user-description__profile-picture"></div>
                        </div>
                        <div class="col-md-11">
                            <input type="hidden" class="post_id" value="{{i.id}}">
                            <input type="hidden" class="user_id" value="{{i.user.id}}">
                            <textarea name="comment" id="" class="comments__comment-description" placeholder="Write some comments over here..."></textarea>
                            <button class="comments__comment-button"><p>Comment</p></button>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="post__all-comments row">
                <div class="col-12">
                    <div class="post__comment row">
                        <div class="col-1">
                            <div class="user-description__profile-picture"></div>
                        </div>
                        <div class="col-11">
                            <h6 class="bold">Aakriti Maharjan</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies 
                                integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae ultricies 
                                leo integer malesuada. Ac odio tempor orci dapibus ultrices in. Egestas diam 
                                in arcu cursus euismod. Dictum fusce ut placerat orci nulla. Tincidunt ornare 
                                massa eget egestas purus viverra accumsan in nisl. Tempor id eu nisl nunc mi 
                                ipsum faucibus. Fusce id velit ut tortor pretium. Massa ultricies mi quis 
                                hendrerit
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="post__comment row">
                        <div class="col-1">
                            <div class="user-description__profile-picture"></div>
                        </div>
                        <div class="col-11">
                            <h6 class="bold">Aakriti Maharjan</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies 
                                integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae ultricies 
                                leo integer malesuada. Ac odio tempor orci dapibus ultrices in. Egestas diam 
                                in arcu cursus euismod. Dictum fusce ut placerat orci nulla. Tincidunt ornare 
                                massa eget egestas purus viverra accumsan in nisl. Tempor id eu nisl nunc mi 
                                ipsum faucibus. Fusce id velit ut tortor pretium. Massa ultricies mi quis 
                                hendrerit
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="post__comment row">
                        <div class="col-1">
                            <div class="user-description__profile-picture"></div>
                        </div>
                        <div class="col-11">
                            <h6 class="bold">Aakriti Maharjan</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies 
                                integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae ultricies 
                                leo integer malesuada. Ac odio tempor orci dapibus ultrices in. Egestas diam 
                                in arcu cursus euismod. Dictum fusce ut placerat orci nulla. Tincidunt ornare 
                                massa eget egestas purus viverra accumsan in nisl. Tempor id eu nisl nunc mi 
                                ipsum faucibus. Fusce id velit ut tortor pretium. Massa ultricies mi quis 
                                hendrerit
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-md-2 col-sm-0"></div>
    </div>
</div>
{% endfor%}

{% endblock %}