{% extends '../index.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="header" class="col-lg-12">              
        </div>
    </div>
    <div class="contents__main-container">
        <div class="contents__main-container__content content--original">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content content--original">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content content--original">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content content--original">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content content--original">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents__main-container__content content--original">
            <a href="view_post.html">
                <div class="content--image">
                    <img src="static/img/index/art.png" alt="">
                    <div class="content--image--original">
                        <p class="white-color bold">Original</p>
                    </div>
                </div>
            </a>
            <div class="container-fluid">
                <div class="content--description row">
                    <div class="col-8 content--description--names">
                        <h5 class="bold">Abstract art</h5>
                        <p>by Aakriti Maharjan</p>
                    </div>
                    <div class="col-4 content--description--like-save">
                        <i class="fas fa-bookmark content--description--save"></i>
                        <i class="fas fa-heart content--description--like"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}