@import '../utilities/colors';
@import '../utilities/typography';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: $primary-btn-color;
    p{
    @extend .bold;

        color: $primary-btn-text-color;
    }

    i{
        font-size: 16px;
        margin-left: 15px;
    }
}

input[type=text],input[type=password], input[type=email], textarea{
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $border-color;
    width: 100%;
}

input[type=checkbox]{
    height: 22px;
    width: 22px;
}

hr{
    border: 1px solid $border-color;
    width: 100%;
}



