//h1,h2,h3 color
$primary-black: #2a2a2a;

//h4,h5,h6 color
$secondary-black: #545454;

//p color
$tertiary-color: #545454;

//placeholder color
$placeholder-color: #CECECE;

//secondary heading,p color
$primary-white: #FFFFFF;
$primary-red: #ff4e4e;
$primary-red-hover: #ff9c9c;

$primary-green: #4eff95;
$primary-green-hover: #9cffc4;

$primary-grey: hsl(0, 0%, 40%);
$primary-grey-hover: hsl(0, 0%, 60%);

//border color
$border-color: #C2C2C2;

//button color
$primary-btn-color: #141414;
$primary-btn-hover-color: #141414;
$primary-btn-text-color: #FFFFFF;

.white-color{
    color: $primary-white;
}

.placeholder--color{
    color: $placeholder-color;
}

.text-link--color{
    color: red;
}