//primary color
$primary-color-faded: hsl(251, 97%, 95%);
$primary-color: #522cfc;
$primary-hover-color: hsl(251, 65%, 38%);

//h1,h2,h3 color
$primary-black: hsl(0, 0%, 10%);

//h4,h5,h6 color
$secondary-black: hsl(0, 0%, 18%);

//p color
$tertiary-color: hsl(0, 0%, 25%);

//placeholder color
$placeholder-color: #CECECE;

//secondary heading,p color
$primary-white: #FFFFFF;
$primary-red: hsl(0, 100%, 58%);
$primary-red-hover: hsl(0, 100%, 38%);

$primary-green: #4eff95;
$primary-green-hover: #9cffc4;

$primary-grey: hsl(0, 0%, 40%);
$primary-grey-hover: hsl(0, 0%, 60%);

//border color
$border-color: #C2C2C2;

.white-color{
    color: $primary-white;
}

.placeholder--color{
    color: $placeholder-color;
}

.text-link--color{
    color: red;
}